@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;700&display=swap");

body {
  background-color: #e5e5e5;
}

*{
  box-sizing: border-box;
}

.topo {
  width: 100%;
  height: 92px;
  background-color: #cf2b2b;
  position: fixed;
  z-index: 1;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  font-size: 44px;
  font-family: "Righteous", cursive;
}

.margem-esq {
  margin-left: 21px;
}

.sub-logo {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

main {
  margin-top: 123px;
  margin-bottom: 108px;
}

.top-scroll {
  font-size: 26px;
  font-family: "Righteous", cursive;
}

.scroll {
  margin-top: 17px;
  margin-bottom: 27px;
  display: flex;
  background-color: #e5e5e5;
  overflow-x: scroll;
}

.product {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 9px;
  padding: 16px 14px 14px 14px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.product > img {
  width: 144px;
  height: 87px;
  border-radius: 4px;
  margin: 0px auto;
}

.select {
  padding: 10px;
}

.select > .product > img {
  width: 124px;
  height: 67px;
}

.name {
  font-weight: bold;
  font-size: 16px;
  color: #333333;
}

.description {
  font-size: 15px;
  color: #a6a6a6;
}

.price {
  font-size: 16px;
  color: #000000;
}

.barra {
  position: fixed;
  z-index: 1;
  bottom: 0px;
  width: 100%;
  height: 92px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botao-pedido {
  width: 87.922%;
  height: 61px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  background-color: #cbcbcb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botao-pedido > p {
  text-align: center;
  width: 200px;
  color: #ffffff;
}

.fechar-pedido {
  width: 87.922%;
  height: 61px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  background: #32b72f;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
}

.conteiner {
  display: flex;
  margin: 17px 0px 27px 0px;
}

.item {
  width: 172px;
  height: 216px;
  background: #50d074;
  border-radius: 9px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.container-counter {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 47px;
  height: 19px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  right: 11px;
  bottom: 24px;
}

.container-counter :nth-child(1) {
  color: red;
}

.container-counter :nth-child(2) {
  color: #50d074;
}

.desabilitado {
  display: none;
}